@model ITApexWebsite.Models.tblContactU

@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />

<img src="~/img/Contact1.png" width="1100" height="260" />

<br />
<br />
<h5 style="text-align:center"><b> Solutions for PC, Android, Chrome OS, and Mac technicians.</b></h5>
<p style="text-align:center">
    <b>
        These five-star rated, IT-Apex branded, hardware diagnostic tools are used by PC, Android, Chrome OS,
        and Mac repair technicians, service professionals, and hobbyists, on the bench and on the road. Large
        and small repair organizations use these device troubleshooting toolkits to shorten system diagnostic
        time and reduce parts usage. Full Windows 10 and Android support!
    </b>
</p>

<br />
<hr/>

<br />

@using (Html.BeginForm())
{
<section class="contactus" id="contactdiv">
    <h1 class="text-center text-capitalize">Contact Us</h1>
    <p class="text-center text-uppercase pt-1"><b>we're here to help you and support you.</b></p>
    

    @Html.AntiForgeryToken()

<div class="container ">
    <hr />
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-10 offset-2 offset-md-2 col-1 justify-content-center">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new {  @class = "form - control", @value = "Enter Your Name", @placeholder = "Enter your name" } })
                    <br />
                    @Html.ValidationMessageFor(model => model.name)
                </div>
                </div>*@

            <div class="form-group justify-content-center">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @value = "Enter Your Name", @placeholder = "Enter your name" } })

                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @value = "Enter Your Email-ID", @placeholder = "Enter your Email-ID" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.contact_no, new { htmlAttributes = new { @class = "form-control", @value = "Enter Your Contact number", @placeholder = "Enter your Contact number" } })
                    @Html.ValidationMessageFor(model => model.contact_no, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.message, new { htmlAttributes = new { @class = "form-control", @value = "Enter Your Message/Query", @placeholder = "Enter your Message/Query" } })
                    @Html.ValidationMessageFor(model => model.message, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="d-flex justify-content-center form-button">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>
</section>
}



@*<section class="contactus" id="contactdiv">
        <h1 class="text-center text-capitalize">Contact Us</h1>
        <p class="text-center text-uppercase pt-1">we're here to help you and support you.</p>
        @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-10 offset-2 offset-md-2 col-1">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter username" id="username" required autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Enter email" id="email" required autocomplete="off">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Enter mobile number" id="mobile" required autocomplete="off">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Enter your message" rows="4" id="comment"></textarea>
                        </div>
                        <div class="d-flex justify-content-center form-button">
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </section>*@
