@using ITApexWebsite.Models.Home
@{
    ViewBag.Title = "SCheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<h2>Checkout</h2>
@if (Session["Scart"] == null)
{
    <div class="alert alert-danger">
        <strong>No product added to cart!</strong>
    </div>

}
else
{
    <table class="table table-bordered">
        <thead>
            <tr class="alert-dark">
                <th>Image</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>

                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Item item in (List<Item>)Session["Scart"])
            {
                <tr>
                    <td> <img src="~/SecurityProductImage/@item.SProduct.s_img" style="height:50px" width="65" /></td>
                    <td>@item.SProduct.s_name</td>

                    <td>@item.Quantity</td>
                    <td>@item.SProduct.s_price</td>
                    <td>
                        <a href="@Url.Action("SAddToCart", "Home", new { productId = item.SProduct.s_Id, url = "CheckOut" })">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a href="@Url.Action("SRemoveFromCart", "Home", new { productId = item.SProduct.s_Id, url = "CheckOut"  })">
                            <i class="fa fa-minus"></i>
                        </a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
}
<a class="btn btn-success" href="@Url.Action("SCheckoutDetails","Home")">Checkout with COD >></a>

<a class="btn btn-success" href="@Url.Action("SCheckoutUPI","Home")">Checkout with UPI >></a>

<a class="btn btn-info" href="@Url.Action("Index","Home")">Continue Shopping</a>

