@model ITApexWebsite.Models.tblProduct_u

@{
    ViewBag.Title = "ProductAdd";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
<div class="container-fluid">
    <h2>ProductAdd</h2>

    @using (Html.BeginForm("ProductAdd", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.p_name, "Product Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.p_name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.p_name, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />


            @{
                List<SelectListItem> data = ViewBag.CategoryList;

            }
            <div class="form-group">
                @Html.LabelFor(model => model.p_fk_Category, "Select Category", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.p_fk_Category, data, "---Select ---")
                    @Html.ValidationMessageFor(model => model.p_fk_Category, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />



            <div class="form-group">
                @Html.LabelFor(model => model.p_img, "Upload Image", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @*@Html.EditorFor(model => model.p_image, new { htmlAttributes = new { @class = "form-control" } })*@

                    <input type="file" name="file" id="file" style="width:100%;" />

                    @Html.ValidationMessageFor(model => model.p_img, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />


            <div class="form-group">
                @Html.LabelFor(model => model.p_price, "Price", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.p_price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.p_price, "", new { @class = "text-danger" })
                </div>
            </div>

            <br />

            <div class="form-group">
                @Html.LabelFor(model => model.p_desc, "Product Description", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.p_desc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.p_desc, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />


            <div class="form-group">
                @Html.LabelFor(model => model.p_quantity, "Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.p_quantity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.p_quantity, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />




            @Html.HiddenFor(model => model.p_fk_user)

            @*<div class="col-md-3">
                    <div class="form-group">
                        @Html.LabelFor(model => model.p_fk_user, "p_fk_user", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.p_fk_user, data, "---Select ---")
                            @Html.ValidationMessageFor(model => model.p_fk_user, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>*@






            <div class="form-group">
                @Html.LabelFor(model => model.isActive, "active", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.CheckBox("isActive")
                        @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <br />


            @Html.HiddenFor(model => model.isDelete)


            @*<div class="form-group">
                    <div class="form-group">
                        @Html.LabelFor(model => model.p_createdDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.p_createdDate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.p_createdDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.p_modifiedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.p_modifiedDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.p_modifiedDate, "", new { @class = "text-danger" })
                    </div>
                </div>*@
            <div class="form-group">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Post" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/Scripts/jquery.validate-vsdoc.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>