@model ITApexWebsite.Models.tblProduct

@{
    ViewBag.Title = "ProductEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="container">

    <h2>Product</h2>

    @using (Html.BeginForm("ProductEdit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
       @Html.AntiForgeryToken()

<div>

    <h4>Edit Product Details</h4>

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.p_Id)

    <div class="col-md-3">
        <div class="form-group">

            @Html.LabelFor(model => model.p_name, "Product Name", htmlAttributes: new { @class = "control-label col-md-2", @type = "text", @value = "Enter Product Name", @placeholder = "Product Name" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.p_name, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <br />
    @{
        List<SelectListItem> data = ViewBag.CategoryList;
    }

    <div class="form-group">
        @Html.LabelFor(model => model.p_fk_c, "Select Category", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.p_fk_c, data, "---Select ---")
            @Html.ValidationMessageFor(model => model.p_fk_c, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.p_image, "Upload Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<p style="color:red">Please enter the image again</p>*@
                <input type="file" name="file" id="file" style="width:100%;" />
                @*@Html.ValidationMessageFor(model => model.p_image, "", new { @class = "text-danger" })*@
            </div>
        </div>
    </div>
    <br />

    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.p_description, "Add product Description", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p_description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.p_description, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.p_quantity, "Quantity", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p_quantity, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.p_quantity, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.p_price, "Price", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p_price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.p_price, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.p_createdDate, "Created Date", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.p_createdDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.p_createdDate, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />

    @*<div class="col-md-3">
            <div class="form-group">
                @Html.LabelFor(model => model.p_modifiedDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.p_modifiedDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.p_modifiedDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@



    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.p_isFeatured, "Is Featured", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.p_isFeatured, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.p_isFeatured, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.isActive, "Active", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.isActive, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="col-md-3">
        <div class="form-group">
            @Html.LabelFor(model => model.isDelete, "Delete", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.isDelete, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.isDelete, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>




    <div class="col-md-2">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>


</div>
    }
</div>
<br />
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
